@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-padding-top:4rem;
  
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.cls-1 {
  transform: scale(0.9);
  fill: #a5d8ff;
  stroke: #1971c2;
  stroke-width: 10px;
  stroke-linejoin: round;
}

svg{
  overflow: visible;
}

/* * {
  outline: 1px solid #f00 !important;
} */